@import "../../../../variables.scss";

.content{
    min-height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .container {
        background-color: $PrimaryBackGround;
        margin: $TopNavHeight auto;

        .container-breadcrumb{
            height: 50px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $PrimaryBorderColor;
        }
    }
}   