.content{
    min-height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .container {
        background-color: aliceblue;
        margin-left: auto;
        margin-right: auto;
    }
}