@import "../../../../variables.scss";

.fixedTopNav{
    height: 40px;
    width: 100%;
    background-color: $Primary;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $ZIndexTopNav;
    display: flex;
    align-items: center;
    padding: 1px 10px;

    .fixedTopNav-left{
        margin-right: auto;
        margin-left: 10px;
        display: flex;

        .logo{
            border: 1px solid $PrimaryLight;
            width: 70px;
            margin-right: 4px;
            height: 30px;
        }
    }

    .fixedTopNav-right{
        margin-left: auto;
        display: flex;

        .userAccount{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $PrimaryLight;
            margin-right: 8px;
        }
    }
}
