@import "../../../../../variables.scss";

.fixedLeftNav{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left: 0;
    width: 220px;
    background-color: $NavigationBackground;
    z-index: $ZIndexSideNav;
    border-right: 1px solid $NavigationBorderColor;
    font-size: 14px;
    padding-top: 40px;

    .fixedLeftNav-project {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .fixedLeftNav-toggleButton {
        position: absolute;
        border-top: 1px solid $NavigationBorderColor;
        bottom: 0;
        height: 45px;
        width: 100%;
        color: $NavigationFontColor;
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
                
        * {margin-left: 10px}

        .collapse-icon{
            margin-bottom: 1px;
            margin-left: 15px;
        }
    }
}
  