@import "../../../../../variables.scss";

.fixedLeftNav{
    min-height: 100%;
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    width: 220px;
    background-color: #FAFAFA;
    z-index: $ZIndexSideNav;
    border-right: 1px solid $NavigationBorderColor;

    .fixedLeftNav-toggleButton {
        position: absolute;
        border-top: 1px solid $NavigationBorderColor;
        bottom: 0;
        height: 45px;
        width: 100%;
    }
}
  