@import "../../../../../variables.scss";

.fixedLeftNav{
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    width: 220px;
    z-index: $ZIndexSideNav;
    color: $NavigationFontColor;

    .fixedLeftNav-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $NavigationBackground;
        border-right: 1px solid $NavigationBorderColor;
        font-size: 14px;

        .fixedLeftNav-project {
            margin-top: 40px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
    
            &:hover{
                background-color: $NavigationMenuHover;
            }
        }
    
        .fixedLeftNav-toggleButton {
            margin-top:auto;
            border-top: 1px solid $NavigationBorderColor;
            height: 45px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            cursor: pointer;
                    
            * {margin-left: 10px}
    
            .collapse-icon{
                margin-bottom: 1px;
                margin-left: 15px;
            }
        }
    }

}
  