// theme
$Primary: #292860;

$ZIndexSideNav: 101;
$ZIndexTopNav: 102;

$NavigationBorderColor:rgba(0, 0, 0, 0.1);
$NavigationFontColor:#707070;
$NavigationBackground: #FAFAFA;
$NavigationMenuHover: #f0f0f0;