// theme
$Primary: #292860;
$PrimaryLight: #4c4d7f;

$ZIndexSideNav: 101;
$ZIndexTopNav: 102;

$NavigationBorderColor:rgba(0, 0, 0, 0.1);
$NavigationFontColor:#707070;
$NavigationBackground: #fafafa;
$NavigationMenuHover: #e5e5e5;
$NavigationMenuEnable: #f0f0f0;
$NavigationBubbleColor: #dedede;

$TopNavFontColor: #CCCCEB;